<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='register_form_css.css'/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Register</h1>
        <form class="register-page">
            <input id="email" type="text" placeholder="Email"/>
            <input id="username" type="text" placeholder="Username"/>
            <input id="password" type="password" placeholder="Password"/>
            <button id="register">register</button>
            <p class="message-response" id="response"></p>
            <p class="message">Already registered? <a href="../">Log In</a></p>
        </form>
    </div>
</div>
<script>

    document.getElementById("register").addEventListener("click", (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value;
        if (email === undefined || email === "") {
            $("#response").text("Invalid login details!");
            return;
        }

        const username = document.getElementById("username").value;
        if (username === undefined || username === "") {
            $("#response").text("Invalid login details!");
            return;
        }

        const password = document.getElementById("password").value;
        if (password === undefined || password === "") {
            $("#response").text("Invalid login details!");
            return;
        }


        const path = "/api/user/register";

        $.ajax({
            type: "POST",
            url: path,
            data: {email: email, password: password, username: username},   // <== change is here
            success: function (msg) {
                if (msg.err === 0) {
                    window.location = msg.redirect;
                } else {
                    $("#response").text(parseMessage(msg.responseText));
                }
            },
            error: function (msg) {
                // decode
                if (msg.err) {
                    window.location = msg.redirect;
                } else {
                    $("#response").text(parseMessage(msg.responseText));
                }
            }
        });
    });

    function parseMessage(error) {
        if (error === "\"email\" length must be at least 6 characters long") {
            return "Email must be > 6 characters long!";
        }

        if (error === "\"email\" must be a valid email") {
            return "Email is invalid!";
        }

        if (error === "\"password\" length must be at least 6 characters long") {
            return "Password must be > 6 characters long!"
        }

        if (error === "\"username\" length must be at least 6 characters long") {
            return "Username must be > 6 characters long!"
        }

        if (error === "Username already exists!") {
            return "That username is already in use!"
        }

        if (error === "Email already exists!") {
            return "That email is already in use!";
        }

        return error;
    }
</script>
</body>
</html>