<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
        <meta name="description" content="Sticky Table Headers Revisited: Creating functional and flexible sticky table headers" />
		<meta name="keywords" content="Sticky Table Headers Revisited" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/ShapeHoverEffectSVG/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=18116"><span>Back to the Codrops Article</span></a></span>
			</div>
			<header>
				<h1>Logged into <%= username %></h1>
				<nav class="codrops-demos">
					<button class="button" id="logout">LOG OUT</button>
				</nav>
			</header>
			<div class="component">
				<h2>Active Links</h2>
				<p>Here is where you can find all of your active links.</p>
				<table>
					<thead>
						<tr>
							<th>Link URL</th>
							<th>Link Slug</th>
							<th># of Clicks</th>
							<th>Date Created</th>
							<th>Management</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>https://www.yakovliam.com/</td><td>https://www.yakovliam.com/links/8cNk39fV</td><td>24</td><td>Feb 20, 2020</td><td><a href="https://www.google.com/">MANAGE</a></td></tr>
						<tr><td>https://www.google.com/</td><td>https://www.yakovliam.com/links/8nvnV0ikj3FD</td><td>0</td><td>Feb 20, 2020</td><td><a href="https://www.google.com/">MANAGE</a></td></tr>
					</tbody>
				</table>
			</div>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="js/jquery.stickyheader.js"></script>
		<script>
			document.getElementById("logout").addEventListener("click", (ev) => {
				ev.preventDefault();

				// remove token cookie
				delete_cookie("auth-token");

				// refresh
				location.reload();
			});

			function delete_cookie(name) {
				document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			}
		</script>
	</body>
</html>