<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/component.css"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Logged into <%= username %></h1>
        <br/>
        <button class="button" id="logout">LOG OUT</button>
    </header>
    <div class="component">
        <h2>Create</h2>
        <input type="text" id="url" placeholder="URL">
        <div class="isa_error" id="response-error">
        </div>
        <a href="#"></a><br>
        <button class="button" id="create" style="display: inline">Create</button>
        <hr/>
        <h2>Active Links</h2>
        <p>Here is where you can find all of your active links.</p>
        <table id="table">
            <thead>
            <tr>
                <th>Link URL</th>
                <th>Link Slug</th>
                <th># of Clicks</th>
                <th>Date Created</th>
                <th>Management</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div><!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="js/jquery.stickyheader.js"></script>
<script>
    // response error
    $("#response-error").hide();

    document.getElementById("create").addEventListener("click", (ev) => {
        ev.preventDefault();

        // get link from url input
        let link = document.getElementById("url").value;

        // send post to create api
        $.ajax({
            type: "POST",
            url: "/api/links/create",
            data: {url: link},
            success: function (msg) {
                location.reload();
            },
            error: function (msg) {
                let responseErrorJQ = $("#response-error");
                responseErrorJQ.show();

                let responseErrorDOM = document.getElementById("response-error");
                responseErrorDOM.innerText = "";

                let errorNode = document.createElement("i");
                errorNode.className = "fa fa-times-circle";

                responseErrorDOM.appendChild(errorNode);
                responseErrorDOM.appendChild(document.createTextNode(parseMessage(msg.responseText)));
            }
        });
    });

    // logout button
    document.getElementById("logout").addEventListener("click", (ev) => {
        ev.preventDefault();

        // remove token cookie
        delete_cookie("auth-token");

        // refresh
        location.reload();
    });

    function delete_cookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    // links handling
    let links =<%- JSON.stringify(links) %>;

    let table = document.getElementById("table");

    links.forEach((link) => {
        let row = table.insertRow(-1);

        let url = row.insertCell(0);
        let urlSlug = row.insertCell(1);
        let clicks = row.insertCell(2);
        let date = row.insertCell(3);

        url.innerHTML = link.url;
        urlSlug.innerHTML = link.urlSlug;
        clicks.innerHTML = link.clicks;

        const dateObj = new Date(link.date);

        date.innerHTML = dateObj.toString();

        let manage = row.insertCell(4);
        manage.innerHTML = "<a href=\"https://www.google.com\">MANAGE</a>"
    });

    // parse message
    function parseMessage(err) {
        if (err === "Invalid \"url\" parameter.") {
            return "Invalid URL"
        }

        if (err === "\"url\" must be a valid uri") {
            return "Invalid URL";
        }

        return err;
    }

</script>
</body>
</html>