<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='profile_css.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title><%= title %></title>
</head>
<body>
<h1>Logged into <%= username %></h1>
<p>Welcome to your profile page!</p>
<button id="logout">Log out</button>
<br>
</body>
<script>
    document.getElementById("logout").addEventListener("click", (ev) => {
        ev.preventDefault();

        // remove token cookie
        delete_cookie("auth-token");

        // refresh
        location.reload();
    });

    function delete_cookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>
</html>